page-prevcomb-subtitulos {
    button.numeros{
        border-radius: 20px;
    }
    .cartao-subtitulo{
        background-color: #c55e5798;
        
        white-space: normal;
        font-size: 100;
    }
    h2.titulo_card{
        white-space: normal;
        font-weight: bold;
        color:black;
    }
}
