page-tbhiv-subtitulos {
    button.numeros{
        border-radius: 20px;
    }
    .cartao-subtitulo{
        background-color: rgba(0, 0, 255, 0.418);
        white-space: normal;
        font-size: 100;
    }
    h2.titulo_card{
        white-space: normal;
        font-weight: bold;
        color:black;
    }
}
