page-sifilis-subtitulos {
    button.numeros{
        border-radius: 20px;
    }
    .cartao-subtitulo{
        background-color: rgba(105, 168, 2, 0.6);
        
        white-space: normal;
        font-size: 100;
    }
    h2.titulo_card{
        white-space: normal;
        font-weight: bold;
        color:black;
    }

}
