page-prevcomb-8 {
    h2{
        color: red;
    }
    p.texto_negrito{
        font-weight: bold;
    }
    p.texto_secundario{
        padding-left: 10px;
    }
    .botao_esquerda{
        float:left;
        margin-left: 5%;
        font-size: 200%;
    }
}
